.sider {
  width: 30%;
  background: #fff;
  .left {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    ul {
      list-style: none;
      li {
        margin: 20px;
        cursor: pointer;
      }
    }
  }
}
.content {
  width: 70%;
  background: #fff;
  .list {
    margin: 50px;
    list-style: none;
    color: rgba(1, 1, 1, 0.75);
    li {
      width: 80%;
      font-size: 2rem;
      line-height: 50px;
      margin: 20px;
      cursor: pointer;
      border-bottom: 1px solid #eee;
    }
  }
}
